<!DOCTYPE html>
<html>
	<head>
		<title>LMS</title>
	</head>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>

	<body>
		<h1>Clothing Inventory</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Color</th>
				<th>Size</th>
				<th>Availability</th>
				<th>Rented to</th>
				<th>Price</th>
				<th>Rent Item</th>
				<th>Item Return</th>
				<th>Delete Item</th>
			</tr>
			<% data.forEach(element=> { %>
			<tr>
				<td><%= element.id %></td>
				<td><%= element.description %></td>
				<td><%= element.color %></td>
				<td><%= element.size %></td>
				<td><%= element.availability %></td>
				<td><%= element.rentedTo %></td>
				<td>$<%= element.price %></td>
				<td>
					<form action="/rent" method="post">
						<input
							type="text"
							style="display: none"
							name="clothesId"
							value="<%= element.id %>"
						/>
						<button type="submit">Rent Out</button>
					</form>
				</td>
				<td>
					<form action="/return" method="post">
						<input
							type="text"
							style="display: none"
							name="clothesId"
							value="<%= element.id %>"
						/>
						<button type="submit">Item Return</button>
					</form>
				</td>
				<td>
					<form
						action="/delete"
						method="post"
						onsubmit="return confirmDeletion()"
					>
						<input
							type="text"
							style="display: none"
							name="clothesId"
							value="<%= element.id %>"
						/>
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
			<% }) %>
		</table>

		<h1>Add Clothing</h1>

		<script>
			function confirmDeletion() {
				return confirm("Are you sure you want to delete this item?");
			}
		</script>

		<form action="/inventory" method="post">
			<input
				type="text"
				placeholder="Clothes ID"
				name="clothesId"
				value="<%= inputValues ? inputValues.clothesId : '' %>"
			/>
			<input
				type="text"
				placeholder="Clothes Description"
				name="clothesDescription"
				value="<%= inputValues ? inputValues.clothesDescription : '' %>"
			/>
			<input
				type="text"
				placeholder="Clothes Color"
				name="clothesColor"
				value="<%= inputValues ? inputValues.clothesColor : '' %>"
			/>
			<input
				type="text"
				placeholder="Clothes Size"
				name="clothesSize"
				value="<%= inputValues ? inputValues.clothesSize : '' %>"
			/>
			<input
				type="text"
				placeholder="Clothes Price"
				name="clothesPrice"
				value="<%= inputValues ? inputValues.clothesPrice : '' %>"
			/>
			<button type="submit">Add</button>
		</form>
		<p style="color: red"><%= errorMessage %></p>
	</body>
</html>
